<%= turbo_frame_tag nature do %>

  <div class="card mt-2">
    <div class="card-body">


      <div class="nature p-2" id="<%= dom_id nature %>">
        <div class="d-flex justify-content-between">

          <div class="d-flex align-items-baseline">
            <p class="mb-0 me-3"><%= nature.id %></p>
            <div class="ms-3">
              <p class="mb-0 "><%= nature.description %></p>
              <p class="mb-0 text-secondary small"><%= nature.abbreviation %></p>
            </div>
          </div>

          <div class="d-flex align-items-start">
            <div class="dropdown">
              <button class="btn btn-sm text-uppercase" type="button" id="dropdownMenuButton<%= nature.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= nature.id %>">
                <li>
                  <%= button_to nature_path(nature), method: :delete, data: { turbo_frame: "_top" }, class: "dropdown-item" do %>
                    Delete
                  <% end %>
                </li>
                <li>
                  <%= link_to "Edit", edit_nature_path(nature), class: "dropdown-item" %>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>

    </div>
  </div>

<% end %>
